<div>
    
    <!-- PEDIR NOMBRE -->
    <div class= "row">
        <label for = "txtNombre">Nombre*</label>
        <input type="text" id="txtNombre" name="txtNombre" class = "form-control" maxlength= "50" minlength= "3" required>
    </div>

    <!-- PEDIR DIRECCION -->
    <div class= "row">
        <label for = "txtDireccion">Direccion*</label>
        <input type="text" id="txtDireccion" name="txtDireccion" class = "form-control" maxlength= "50" minlength= "3" required>
    </div>
                    
    <!-- PEDIR CORREO -->
    <div class = "row">
        <label for = "txtCorreo">Correo*</label>
        <input type="text" id="txtCorreo" name="txtCorreo" class = "form-control" maxlength= "50" minlength= "5" required>
    </div>

    <!-- PEDIR TELEFONO -->
    <div class = "row">
        <label for = "txtTelefono">Telefono*</label>
        <input type="number" id="txtTelefono" name="txtTelefono" class = "form-control" maxlength= "10" minlength= "10" required> 
    </div>
                    
    <hr>
    
</div>