<div>
    
    <!-- PEDIR NOMBRE -->
    <div class= "row">
        <label for = "txtNombre">Nombre*</label>
        <input type="text" id="txtNombre" name="txtNombre" class = "form-control" maxlength= "50" minlength= "3" required>
    </div>

    <!-- PEDIR APELLIDO -->
    <div class= "row">
        <label for = "txtNombre">Apellido*</label>
        <input type="text" id="txtApellido" name="txtApellido" class = "form-control" maxlength= "50" minlength= "3" required>
    </div>
                    
    <!-- PEDIR CORREO -->
    <div class = "row">
        <label for = "txtCorreo">Correo*</label>
        <input type="text" id="txtCorreo" name="txtCorreo" class = "form-control" maxlength= "50" minlength= "5" required>
    </div>

    <!-- PEDIR EDAD -->
    <div class = "row">
        <label for = "txtEdad">Edad*</label>
        <input type="number" id="txtEdad" name="txtEdad" class = "form-control" maxlength= "3" minlength= "1" required> 
    </div>

    <!-- PEDIR FECHA_NACIMIENTO -->
    <div class = "row">
        <label for = "txtFechaNacimiento">Fecha de Nacimiento*</label>
        <input type="date" id="txtFechaNacimiento" name="txtFechaNacimiento" class = "form-control" required> 
    </div>

    <!-- PEDIR DIRECCION -->
    <div class = "row">
        <label for = "txtDireccion">Direccion*</label>
        <input type="text" id="txtDireccion" name="txtDireccion" class = "form-control" maxlength= "50" minlength= "5" required>
    </div>

    <!-- PEDIR CONTRASEÑA -->
    <div class = "row">
        <label for = "txtContrasenia">Contraseña*</label>
        <input type="text" id="txtContrasenia" name="txtContrasenia" class = "form-control" maxlength= "50" minlength= "5" required>
    </div>
                    
    <hr>

</div>