<div>

    <!-- PEDIR FECHA_VENTA -->
    <div class= "row">
        <label for = "txtFechaVenta">Fecha de Venta*</label>
        <input type="date" id="txtFechaVenta" name="txtFechaVenta" class = "form-control" required>
    </div>

    <!-- PEDIR MONTO_VENTA -->
    <div class= "row">
        <label for = "txtMontoVenta">Monto de Venta*</label>
        <input type="number" id="txtMontoVenta" name="txtMontoVenta" class = "form-control" required>
    </div>
                    
    <hr>
    
</div>