<div class="container">
    <h3>Lista Concesionarios</h3>
    <div>
        <table class="table table-bordered">
            <!--7.5) Encabezado de la tabla-->
            <thead>
                <th>id_concesionario</th>
                <th>Nombre</th>
                <th>Direccion</th>
                <th>Correo</th>
                <th>Telefono</th>
            </thead>

            <!--7.6) Cuerpo de la tabla-->
            <tbody>
                <!--7.7) "*ngFor" recorre la fila de cada de dato
                crea una variable "concesionario" (singular) para buscarla en la "listConcesionarios"-->
                <tr *ngFor="let concesionario of listConcesionarios">
                    <td>{{concesionario.id_concesionario}}</td>
                    <td>{{concesionario.nombres}}</td>
                    <td>{{concesionario.direcciones}}</td>
                    <td>{{concesionario.correos}}</td>
                    <td>{{concesionario.telefonos}}</td>
                </tr>
            </tbody>
        </table>
    </div>

</div>